<div *ngIf="product.title" class="card" style="width: 20rem">
  <img
    [src]="product.imageURL"
    *ngIf="product.imageURL"
    class="card-img-top"
    [alt]="product.title"
  />
  <div class="card-body">
    <h5 class="card-title">
      {{ product.title }}
    </h5>
    <p class="card-text" product.price>
      {{ product.price | currency: "USD" }}
    </p>
  </div>
  <div *ngIf="showAction" class="card-footer p-0">
    <a
      *ngIf="getQuantity() === 0"
      (click)="addToCard()"
      class="w-100"
      mat-raised-button
      color="primary"
      >Add to order</a
    >
    <ng-container *ngIf="getQuantity()!==0">

      <quantity-box 
        [product]="product"
        [shoppingCard]="shoppingCard"
      ></quantity-box>
    </ng-container>
    
  </div>
</div>
